@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Libre+Caslon+Text&display=swap');


:root {
    --index: (1vw + 1vh);

}

body {
    font-family: $main-text;
    color: $white;
}

